#legend
{
	float: left;
	margin-right: 15px;
}
#legend ul
{
	list-style-type: none;
	margin-left: -3em;
}
#map
{
	width: 900px; 
	height: 600px; 
	float: left; 
}
#navigationControl
{
	position: absolute; top: 15px; left: 260px;
}
#infoPanel
{
	width: 200px;
	padding: 10px;
	margin-left: 15px;
	float: left;
	line-height: 19px;
}
.highlightSymbolizer
{
	opacity: 0.4;
	width: 26px;
	margin: -4px 0 0 -4px;
}
#twentemobiel_map_container
{
    color: #757575;
    font-family: Arial;
    font-size: 12px;
}