#legend
{
	float: left;
	border: 1px solid #000000;
	margin-right: 15px;
}
#legend ul
{
	list-style-type: none;
	margin-left: -2em;
}
#map
{
	width: 900px; 
	height: 600px; 
	float: left; 
	border: 1px solid #000000;
}
#navigationControl
{
	position: absolute; top: 15px; left: 260px;
}
#infoPanel
{
	border: 1px solid #000000;
	width: 200px;
	padding: 10px;
	margin-left: 15px;
	float: left;
}
.highlightSymbolizer
{
	opacity: 0.4;
	width: 26px;
	margin: -4px 0 0 -4px;
}