#twente_map_container
{
    color: #757575;
    font: 12px Arial;
    max-width: 1200px;
    margin: 0 auto;
}
#legend
{
	float: left;
	width: 14%;
}
#legend ul
{
	list-style-type: none;
	margin-left: -3em;
}
#infoPanel
{
	width: 16%; 
	padding: 1%;
	float: left;
	line-height: 19px;
}
#map
{
	width: 68%; 
	min-width: 310px;
	height: 600px; 
	float: left; 
}
#navigationControl
{
	position: absolute; 
	margin: 2% 0 0 2%;
}
.highlightSymbolizer
{
	opacity: 0.4;
	width: 26px;
	margin: -4px 0 0 -4px;
}
@media only screen and (max-width : 700px) 
{
	#legend, #infoPanel
	{
		width: 180px;
	}
}
@media only screen and (max-width : 320px) 
{
	#legend, #infoPanel
	{
		width: 310px;
	}
}
